<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>中西药品用药,中西药品吃什么药好,正品中西药品价格_说明书_效果_1药网</title>
		<link rel="shortcut icon" href="images/title_logo.ico" /> 
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="css/header.css" />
		<link rel="stylesheet" type="text/css" href="css/list.css" />
		<link rel="stylesheet" type="text/css" href="css/footer.css" />
		<link rel="stylesheet" type="text/css" href="css/rightfixed.css"/>
	</head>
	<body>
		<!--头部导航-->
		<div class="loadhead"></div>
		<!--页面-->
		<!--headnav-->
		<div class="headnav">
			<div class="nav">
				<a href="javascript:;">
					<p>所有商品分类</p>
				</a>
				<a href="javascript:;">
					<p>首页</p>
				</a>
				<a href="javascript:;">
					<p>家庭常备药</p>
				</a>
				<a href="javascript:;">
					<p>乙肝</p>
				</a>
				<a href="javascript:;">
					<p>减肥瘦身</p>
				</a>
				<a href="javascript:;">
					<p>男性早泄</p>
				</a>
				<a href="javascript:;">
					<p>控制三高</p>
				</a>
				<a href="javascript:;">
					<p>中药抓药</p>
				</a>
				<a href="javascript:;">
					<p>商家海外购</p>
				</a>
			</div>
		</div>
		<div id="nav">
			<!--fenlei-->
			<div class="fenlei">
				<ul class="tab_but">
					<a href="javascript:;">
						<li>中西药品</li>
					</a>
					<a href="javascript:;">
						<li>滋补保健</li>
					</a>
					<a href="javascript:;">
						<li>维生素钙</li>
					</a>
					<a href="javascript:;">
						<li>隐形眼镜</li>
					</a>
					<a href="javascript:;">
						<li>医疗器械、健康电器</li>
					</a>
					<a href="javascript:;">
						<li>药妆个护</li>
					</a>
					<a href="javascript:;">
						<li>成人用品</li>
					</a>
					<a href="javascript:;">
						<li>母婴专区</li>
					</a>
					<a href="javascript:;">
						<li>参茸花茶、休闲零食</li>
					</a>
					<a href="javascript:;">
						<li>体检、口腔诊疗</li>
					</a>
				</ul>
				<div class="tab_show"></div>
			</div>
		</div>
		<!--吸顶-->
		<div class="xdbox">
			<div class="xdcon">
				<div class="headnav">
					<div class="nav">
						<a href="javascript:;">
							<p>所有商品分类</p>
						</a>
					</div>
				</div>
				<div id="nav">
					<!--fenlei-->
					<div class="fenlei">
						<ul class="tab_but">
							<a href="javascript:;">
								<li>中西药品</li>
							</a>
							<a href="javascript:;">
								<li>滋补保健</li>
							</a>
							<a href="javascript:;">
								<li>维生素钙</li>
							</a>
							<a href="javascript:;">
								<li>隐形眼镜</li>
							</a>
							<a href="javascript:;">
								<li>医疗器械、健康电器</li>
							</a>
							<a href="javascript:;">
								<li>药妆个护</li>
							</a>
							<a href="javascript:;">
								<li>成人用品</li>
							</a>
							<a href="javascript:;">
								<li>母婴专区</li>
							</a>
							<a href="javascript:;">
								<li>参茸花茶、休闲零食</li>
							</a>
							<a href="javascript:;">
								<li>体检、口腔诊疗</li>
							</a>
						</ul>
						<div class="tab_show"></div>
					</div>
				</div>
				<div class="page">
					<div class="head_serch_box" id="gai">
						<script type="text/javascript" src="js/plugins/jsonp.js"></script>
						<div class="search" id="xdb">
							<input type="text" placeholder="请输入商品名、症状、人群等" />
							<ul>
							</ul>
							<a href="javascript:;" target="_blank" class="go"><input type="button" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="listbox">
			<div class="listcon">
				<!--左侧展开收起效果-->
				<div class="list_left">
					<div class="choose">
						<p>中西药品</p>
						<dl>
							<dt><i></i>滋补调养</dt>
							<dd>补肾<b>(5858)</b></dd>
							<dd>补血补气<b>(4578)</b></dd>
							<dd>安神助眠<b>(3777)</b></dd>
							<dd>增强抵抗力<b>(655)</b></dd>
							<dd>减肥瘦身<b>(280)</b></dd>
							<dd>滋补调养赠品<b>(1)</b></dd>
						</dl>
						<dl>
							<dt><i></i>呼吸道疾病</dt>
							<dd>感冒发烧<b>(9645)</b></dd>
							<dd>咳嗽<b>(8549)</b></dd>
							<dd>上火<b>(6881)</b></dd>
							<dd>哮喘<b>(2297)</b></dd>
							<dd>小儿感冒<b>(2222)</b></dd>
							<dd>慢性阻塞性肺疾病<b>(431)</b></dd>
							<dd>支气管炎<b>(1744)</b></dd>
						</dl>
						<dl>
							<dt><i></i>男科疾病</dt>
							<dd>阳痿早泄<b>(1423)</b></dd>
							<dd>前列腺炎<b>(1788)</b></dd>
							<dd>泌尿系统疾病<b>(2847)</b></dd>
							<dd>肾病<b>(1344)</b></dd>
							<dd>男性不育症<b>(381)</b></dd>
						</dl>
						<dl>
							<dt><i></i>妇科疾病</dt>
							<dd>产后用药<b>(439)</b></dd>
							<dd>盆腔炎<b>(877)</b></dd>
							<dd>宫颈炎<b>(412)</b></dd>
							<dd>痛经<b>(664)</b></dd>
							<dd>子宫疾病用药<b>(520)</b></dd>
							<dd>白带异常<b>(350)</b></dd>
							<dd>乳腺疾病<b>(1020)</b></dd>
							<dd>更年期<b>(666)</b></dd>
							<dd>月经不调<b>(3214)</b></dd>
							<dd>阴道炎<b>(3866)</b></dd>
							<dd>避孕<b>(486)</b></dd>
							<dd>保胎促孕<b>(577)</b></dd>
						</dl>
						<dl>
							<dt><i></i>风湿骨病</dt>
							<dd>补肾<b>(5858)</b></dd>
							<dd>补血补气<b>(4578)</b></dd>
							<dd>安神助眠<b>(3777)</b></dd>
							<dd>增强抵抗力<b>(655)</b></dd>
							<dd>减肥瘦身<b>(280)</b></dd>
							<dd>滋补调养赠品<b>(1)</b></dd>
							<dd>增强抵抗力<b>(655)</b></dd>
							<dd>减肥瘦身<b>(280)</b></dd>
							<dd>滋补调养赠品<b>(1)</b></dd>
							<dd>滋补调养赠品<b>(1)</b></dd>
						</dl>
						<dl>
							<dt><i></i>皮肤病</dt>
							<dd>补肾<b>(5858)</b></dd>
							<dd>补血补气<b>(4578)</b></dd>
							<dd>安神助眠<b>(3777)</b></dd>
							<dd>增强抵抗力<b>(655)</b></dd>
							<dd>减肥瘦身<b>(280)</b></dd>
							<dd>滋补调养赠品<b>(1)</b></dd>
							<dd>补肾<b>(5858)</b></dd>
							<dd>补血补气<b>(4578)</b></dd>
							<dd>安神助眠<b>(3777)</b></dd>
							<dd>增强抵抗力<b>(655)</b></dd>
							<dd>减肥瘦身<b>(280)</b></dd>
							<dd>滋补调养赠品<b>(1)</b></dd>
						</dl>
						<dl>
							<dt><i></i>五官科疾病</dt>
							<dd>补肾<b>(5858)</b></dd>
							<dd>补血补气<b>(4578)</b></dd>
							<dd>安神助眠<b>(3777)</b></dd>
							<dd>增强抵抗力<b>(655)</b></dd>
							<dd>减肥瘦身<b>(280)</b></dd>
							<dd>滋补调养赠品<b>(1)</b></dd>
						</dl>
						<dl>
							<dt><i></i>消化系统疾病</dt>
							<dd>补肾<b>(5858)</b></dd>
							<dd>补血补气<b>(4578)</b></dd>
							<dd>安神助眠<b>(3777)</b></dd>
							<dd>增强抵抗力<b>(655)</b></dd>
							<dd>减肥瘦身<b>(280)</b></dd>
							<dd>滋补调养赠品<b>(1)</b></dd>
						</dl>
						<dl>
							<dt><i></i>心脑血管</dt>
							<dd>补肾<b>(5858)</b></dd>
							<dd>补血补气<b>(4578)</b></dd>
							<dd>安神助眠<b>(3777)</b></dd>
							<dd>增强抵抗力<b>(655)</b></dd>
							<dd>增强抵抗力<b>(655)</b></dd>
							<dd>减肥瘦身<b>(280)</b></dd>
							<dd>滋补调养赠品<b>(1)</b></dd>
							<dd>增强抵抗力<b>(655)</b></dd>
						</dl>
						<dl>
							<dt><i></i>肿瘤科</dt>
							<dd>补肾<b>(5858)</b></dd>
							<dd>补血补气<b>(4578)</b></dd>
							<dd>安神助眠<b>(3777)</b></dd>
							<dd>滋补调养赠品<b>(1)</b></dd>
						</dl>
						<dl>
							<dt><i></i>肝病科</dt>
							<dd>补肾<b>(5858)</b></dd>
							<dd>安神助眠<b>(3777)</b></dd>
							<dd>增强抵抗力<b>(655)</b></dd>
							<dd>增强抵抗力<b>(655)</b></dd>
							<dd>减肥瘦身<b>(280)</b></dd>
							<dd>滋补调养赠品<b>(1)</b></dd>
						</dl>
						<dl>
							<dt><i></i>神经系统</dt>
							<dd>补肾<b>(5858)</b></dd>
							<dd>减肥瘦身<b>(280)</b></dd>
							<dd>滋补调养赠品<b>(1)</b></dd>
						</dl>
						<dl>
							<dt><i></i>中西药赠品</dt>
							<dd>减肥瘦身<b>(280)</b></dd>
							<dd>滋补调养赠品<b>(1)</b></dd>
						</dl>
						<dl>
							<dt><i></i>内分泌</dt>
							<dd>补肾<b>(5858)</b></dd>
							<dd>补血补气<b>(4578)</b></dd>
							<dd>减肥瘦身<b>(280)</b></dd>
							<dd>滋补调养赠品<b>(1)</b></dd>
						</dl>
						<dl>
							<dt><i></i>中西药品维生素钙剂</dt>
							<dd>补肾<b>(5858)</b></dd>
							<dd>安神助眠<b>(3777)</b></dd>
							<dd>增强抵抗力<b>(655)</b></dd>
							<dd>减肥瘦身<b>(280)</b></dd>
							<dd>滋补调养赠品<b>(1)</b></dd>
						</dl>
						<dl>
							<dt><i></i>中药饮片</dt>
							<dd>补肾<b>(5858)</b></dd>
							<dd>补血补气<b>(4578)</b></dd>
							<dd>安神助眠<b>(3777)</b></dd>
							<dd>增强抵抗力<b>(655)</b></dd>
							<dd>减肥瘦身<b>(280)</b></dd>
							<dd>滋补调养赠品<b>(1)</b></dd>
						</dl>
						<dl>
							<dt><i></i>生物制药</dt>
							<dd>人体免疫调节<b>(1)</b></dd>
						</dl>
					</div>
					<div class="list_left_img">
						<div class="img1">
							<img src="//p3.maiyaole.com/img/item/1505298871116111.jpg" />
						</div>
						<div class="img1">
							<img src="https://p1.maiyaole.com/img/item/1534905602163929.jpg" />
						</div>

					</div>
				</div>
				<!--主列表区-->
				<div class="list_right">
					<div class="title">
						<p>中西医药</p>
						<span>搜索结果(<i>201219</i>)</span>
					</div>
					<!--多选区域-->
					<div class="screen">
						<div>
							<div class="xianshi">
								<span>品牌:</span>
								<span>宜多</span>
								<span>李兆基</span>
								<span>加蓓</span>
								<span>长尔舒</span>
								<span>安普索</span>
								<input type="button" value="多选" />
							</div>
							<div class="yinchang">
								<span>品牌:</span>
								<span><i></i>宜多</span>
								<span><i></i>李兆基</span>
								<span><i></i>加蓓</span>
								<span><i></i>长尔舒</span>
								<span><i></i>安普索</span>
								<p>
									<input class="qd" type="button" value="确定" />
									<input class="qx" type="button" value="取消" />
								</p>
							</div>
						</div>
						<div>
							<div class="xianshi">
								<span>是否进口:</span>
								<span>国产</span>
								<span>进口</span>
								<input type="button" value="多选" />
							</div>
							<div class="yinchang">
								<span>是否进口:</span>
								<span><i></i>国产</span>
								<span><i></i>进口</span>
								<p>
									<input class="qd" type="button" value="确定" />
									<input class="qx" type="button" value="取消" />
								</p>
							</div>
						</div>
						<div>
							<div class="xianshi">
								<span>药品类型:</span>
								<span>西药</span>
								<span>中成药</span>
								<input type="button" value="多选" />
							</div>
							<div class="yinchang">
								<span>药品类型:</span>
								<span><i></i>西药</span>
								<span><i></i>中成药</span>
								<p>
									<input class="qd" type="button" value="确定" />
									<input class="qx" type="button" value="取消" />
								</p>
							</div>
						</div>
						<div>
							<div class="xianshi">
								<span>剂型:</span>
								<span>片剂</span>
								<span>丸剂</span>
								<span>胶囊</span>
								<span>冲剂</span>
								<span>口服液体制剂</span>
								<input type="button" value="多选" />
							</div>
							<div class="yinchang">
								<span>剂型:</span>
								<span><i></i>片剂</span>
								<span><i></i>丸剂</span>
								<span><i></i>胶囊</span>
								<span><i></i>冲剂</span>
								<span><i></i>口服液体制剂</span>
								<span><i></i>搽剂</span>
								<span><i></i>洗剂</span>
								<span><i></i>喷雾剂</span>
								<p>
									<input class="qd" type="button" value="确定" />
									<input class="qx" type="button" value="取消" />
								</p>
							</div>
						</div>
					</div>
					<!--中间排序-->
					<div class="zhonghe">
						<span>综合</span>
						<span>销量</span>
						<span>评论</span>
						<span>人气</span>
						<span>最新</span>
						<span>价格</span>
						<p>
							<input type="text" placeholder="￥" />-
							<input type="text" placeholder="￥" />
						</p>
						<a href="javascript:;"><b></b><span>包邮</span></a>
						<a href="javascript:;"><b></b><span>自营</span></a>
						<a href="javascript:;"><b></b><span>海外购</span></a>
						<a class="red bold" href="javascript:;"><b></b><span>双11</span></a>
					</div>
					<!--列表内容-->
					<div class="maincon">
						<div id="baidut"></div>
						<div id="pages" class="holder"></div>
						<script id="temp" type="text/html">
							<ul id="container" class="container">
								<% for(var i=0; i<drug.length; i++){ %>
									<li>
										<a class="godet" href="details.html" target="_blank">
											<img src="<%=drug[i].imgUrl%>" alt="">
											<p><span><%=drug[i].onePrice%></span><em></em></p>
											<p><i></i><%=drug[i].title%></p>
											<p><b></b><span>1药网自营</span></p>
										</a>
										<p>
											<a href="details.html" target="_blank"><input type="button" value="查看详情" /></a>
											<input type="button" value="加入购物车" />
										</p>
									</li>
								<% } %>
							</ul>
						</script>
					</div>
				</div>
			</div>
		</div>
		<div class="zanwei"></div>
		<div class="bottom_img_box">
			<div class="bottom_img">
				<img src="https://p1.maiyaole.com/img/item/1533124283956233.jpg"/>
			</div>
		</div>
		<div class="loadfoot"></div>
		<!--右侧导航栏-->
		<div class="float_box"></div>
		<script type="text/javascript" src="js/libs/require.min.js" data-main="js/list.js"></script>
	</body>

</html>